
@{
    ViewBag.Title = "Register";
}

<h2>实现用户注册。由用户输入用户名、密码、姓名，点击注册按钮之后检查是否已经存在该用户，如果不存在调用DAL.User.Add(User对象)，添加至数据库，然后跳转至首页(跳转实现方法:在相应Controller的相应方法里写return RedirectToAction("ActionName","ControllerName"))</h2>

