*.suo
*.dll
*.exe
*.pdb
*.cache
/.vs
/DAL/obj/Debug
/DAL/obj/Release
/Model/obj/Debug
/Model/obj/Release
/UnitTest/obj/Debug
/UnitTest/obj/Release
/UnitTestDAL/obj/Debug
/UnitTestDAL/obj/Release
/Asp.netMVC/obj/Debug
/Asp.netMVC/obj/Release
Dal_config.cs
/Asp.netMVC/bin
