
@{
	ViewBag.Title = "数据查询/分析";
}

<h2>首先为项目名称（是什么，下拉菜单）、中标单位（是什么，下拉菜单）、中标金额（下限~上限，两个编辑框）、中标时间（早~晚，两个固定格式的编辑框，比如仅允许输入yyyy-MM-dd格式的）提供筛选，这四个选项前都要有多选框，表示是否启用这一条件</h2>
<h2>提供一个“筛选”按钮来按照上一步设置的条件筛选并显示结果</h2>
<h2>根据筛选结果，如果所有结果都来自同一单位，那么显示两个按钮：历史金额趋势、中标金额汇总；否则，只显示中标金额汇总这一个按钮</h2>
<h2>点击历史金额趋势按钮，以时间为x轴，金额为y轴画出折线图</h2>
<h2>点击中标金额汇总按钮，以表格形式汇总每个单位的中标金额，并显示</h2>
<table border="1">
	<tr>
		<td>单位</td>
		<td>金额</td>
	</tr>
	<tr>
		<td>我是一个单位名称</td>
		<td>我是该单位的中标金额之和</td>
	</tr>
</table>
